@import url("reset.css");
* {
	margin: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background: url(../img/bcg.png);
	font-family: "Trebuchet MS", "Helvetica", sans-serif;
	font-size: medium;
	color: #000;
}

#wrap {
	min-height: 100%;
	position: relative;
	width: 900px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: -6px 0 4px -4px rgba(0, 0, 0, .1), 6px 0 4px -4px rgba(0, 0, 0, .1);
}

#header {
	background-color: #333366;
	height: 85px;
	position: fixed;
	top: 0;
	width: 900px;
	z-index: 999;
}

#logo {
	padding: 5px;
	width: 305px;
	height: 65px;
	margin-top: 11px;
}

#time {
	color: #000;
	padding: 100px 15px 15px 15px;
	margin-right: 20px;
	text-align: right;
	margin-top: 3px;
	font-family: "Garamond", sans-serif;
	font-size: 19px;
}

li {
	list-style-type: none;
}

ul {
	margin-left: 0; /* IE  Opera */
	padding-left: 0; /* Firefox, Safari, Chrome */
}

a {
    text-decoration: none;
    color: #333366;
}

.leftWord {
	color: #ffffff;
	font-family: "Century Gothic", sans-serif;
	font-size: 19px;
	padding: 15px;
	margin-right: 20px;
	margin-top: -58px;
	border-radius: 7px;
}

.footertext {
	font-size: 12px;
	font-family: "Century Gothic", sans-serif;
	color: #333366;
	text-align: center;
	padding: 15px;
}

.vertalign {
	padding-top: 185px;
}

.form-style {
	border-color: #333366;
	border-radius: 7px;
	padding-left: 10px;
}

.button-style {
	background-color: #333366;
	border-radius: 7px;
}

#login-button {
	width: 220px;
}

.thin, .thick {
	margin: 0 auto;
	width: 900px;
	background-color: #333366;
}

.thin {
	height: 1px;
	margin-bottom: 2px;
}

.thick {
	height: 3px;
	margin-bottom: 2px;
}

#forgotpassword {
	margin-left: 7px;
}

/**** Registration *****/

#mainRegister {
	margin-left: 180px;
	margin-right: 180px;
	padding-top: 50px;
}

#profEdit {
	margin-left: 180px;
	margin-right: 180px;
	padding-top: 100px;
}

.centralWord {
	font-family: "Century Gothic", sans-serif;
	font-size: 36px;
	padding: 20px;
	text-align: center;
}

.labels {
	width: 210px;
	font-size: 16px;
	padding: 10px;
	padding-top: 30px;
}

#register-button {
	width: 220px;
}

.regErrors {
	color: #ff0000;
	width: 220px;
	position: absolute;
	z-index: 999;
}

a img {
	border: none;
}

/**** Table *****/

.user-table tbody{
	display: block;
	max-height: 340px;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.user-table tr{
	display: table;
	width: 100%;
	table-layout: fixed;
}

.admin-table tbody{
	display: block;
	max-height: 340px;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.admin-table tr{
	display: table;
	width: 100%;
	table-layout: fixed;
}


html > body div.tableContainer {
	overflow: hidden;
	width: 430px;
}

div.tableContainer {
	margin: 0 auto;
	height: 590px;
	overflow: auto;
	width: 430px;
}

div.tableContainer table{
	float: left;
}


thead.fixedHeader tr {
	position: relative;
}

html > body thead.fixedHeader {
	display: table;
	overflow: auto;
	width: 100%;
}

tbody.scrollContent {
	display:block;
	height: 410px;
	overflow: auto;
	width: 100%;
}

.table-auditorium{
	margin: 0 auto;
	width: 430px;
}

.table-align {
	padding: 20px 20px 0 20px;
	border-radius: 7px;
}

.tbl {
	border-collapse: separate;
	border: 1px solid #333366;
	border-radius: 7px;
	text-align: center;
}

.tbl th, .tbl td {
	height: 40px;
	text-align: center;
	vertical-align: middle;
}


.btn-col {
	width: 5%;
}

.title-col {
	width: 25%;
}

.auditorium-col {
	width: 15%;
}

.workplace-col {
	width: 15%;
}
.workplace-col-admin-th{
	width: 15%
}

.date-col {
	width: 20%;
}

.lastname-col {
	width: 30%;
}
.firstname-col {
	width: 30%;
}
.firstname-col-th {
	width: 30%;
}
.delete-col {
	width: 5%;
}

.delete-col-th{
	width: 8%;
}
.status-col-th{
	width: 17%;
}
.role-col {
	width: 10%;
}
.role-col-th {
	width: 12%;
}

.change-col{
	width: 5%;
}
.change-col-th{
	width: 3%;
}
.user-col{
	width: 5%;
}
.assistant-col{
	width: 5%;
}

.workplace-col-orders{
	width:15%;
}
.workplace-col-orders-th{
	width:14%;
}
.workplace-col-ord{
	width:16%;
}
.title-col-orders{
	width:18%;
}
.title-col-orders-th {
	width: 18%;
}

.title-col-user{
	width: 26%;
}

.auditorium-col-orders{
	width:16%;
}
.auditorium-col-orders-th{
	width:15%;
}
.auditorium-col-ord-th{
	width: 16%;
}

.auditorium-col-ord{
	width:14%;
}

.user-col-orders{
	width:12%;
}
.user-col-orders-th{
	width:12%;
}

.assistant-col-orders{
	width:15%;
}
.assistant-col-orders-th{
	width:19%;
}

.date-col-orders{
	width:16%;
}
.date-col-orders-th{
	width:16%;
}
.date-col-ord{
	width:21%;
}

.status-col-orders{
	width:15%;
}
.status-col-orders-th{
	width:14%;
}

.status-col-user{
	width:20%;
}

.status-col {
	width: 20%;
}
.status-col-ord {
	width: 12%;
}
.status-col-ord-th {
	width: 14%;
}
.indent{
	width:2%;
}



#hello {
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    color: #333366;
    padding: 20px 0 0 20px;
}

#btn-add-order {
	background-color: #333366;
	border-radius: 7px;
}

/**** Menu *****/

.drop-menu-element {
	color: #ffffff;
	font-family: "Century Gothic", sans-serif;
	font-size: 18px;
}

.menu-element {
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 18px;
	margin-top: 20px;
	margin-left: 5px;
	border-radius: 7px;
}

.menu-element-li {
	color: #333366;
	font-family: "Century Gothic", sans-serif;
	font-size: 18px;
	margin-top: 3px;
	border-radius: 7px;
}

.active {
	color: #333366;
	background-color: #e7e7e7;
	margin-left: 5px;
}

.active:hover {
	color: #333366;
}

#content {
	border-color: #333366;
	border-radius: 7px;
	padding: 10px;
	resize: none;
}

#btn-create-order {
	background-color: #333366;
	border-radius: 7px;
}

.select-style {
	border-color: #333366;
	border-radius: 7px;
}

.label-style {
	font-family: "Century Gothic", sans-serif;
	color: #333366;
	padding-bottom: 5px;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
}

.top-block {
	padding-top: 85px;
}

#auth-block {
	padding-top: 100px;
}

#change-pass-button {
	width: 220px;
}

.top-table {
	padding-top: 120px;
}

.bottom-block {
	padding-bottom: 60px;
}

#sel1 {
	width: 138px;
}

#sel2 {
	width: 120px;
}

#title {
	width: 270px;
}

#title_errors {
	color: #ff0000;
}

#content_errors {
	color: #ff0000;
}

#workplace_access_num_errors {
     color: #ff0000;
}

#workplace_access_num_errors {
    color: #ff0000;
}

#workplace_access_num_errors {
	color: #ff0000;
}

#assist_add_order_button {
    width: 220px;
	margin-left: -100px;
    background-color: #333366;
}

#local {
    font-family: "Garamond", sans-serif;
    color: #333366;
    padding: 100px 0px 0px 0px;
    margin-right: 30px;
    text-align: right;
    margin-top: 3px;
    font-size: 20px;
}

#local a {
    color: #333366;
}

#local a:hover {
    text-decoration: none;
	color: #333366;
	opacity: 1; /* <-- any transitioning property needs a starting value */
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#local a:hover {
	text-decoration: none;
	opacity: 0.5;
}

#local a:active {
    font-weight: bold;
}

#helloAssist {
	padding-top: 110px;
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    color: #333366;
    margin-left: 30px;
}

#assistProfileBlock {
    font-family: "Century Gothic", sans-serif;
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
}

#assistCreateOrderBlock {
	padding-top: 220px;
    padding-bottom: 20px;
}

#assistContent {
	height: 700px;
	padding-bottom: 50px;
}

#assist_create_order_button {
    background-color: #333366;
    border-radius: 7px;
    margin-top: -5px;
    width: 270px;
}

#assistProfileForm {
	padding-top: 90px;
	margin-left: 150px;
}

#assistCreateCells {
    margin-top: -5px;
}

#assist_description {
    border-color: rgb(51, 51, 102);
    border-radius: 7px;
    padding: 10px;
    resize: none;
    width: 270px;
}

.centralWordEdit {
    font-family: "Century Gothic", sans-serif;
    font-size: 36px;
    padding: 20px;
    text-align: center;
    margin-left: -15px;
}

#assist_content_errors {
    color: #ff0000;
    padding-left: 15px;
}

#workplace-error {
    padding-top: 21px;
}

.icon {
    right: 6px;
    color: #ffffff;
}
.icon-btn {
    background-color: #333366;
    border-radius: 7px;
    width: 27px;
    height: 26px;
    padding-top: 4px;
}

.icon-sort{
	margin-left: 5px;
	cursor:pointer;
}

#auditorium {
    width: 138px;
}

#workplace_access_num {
    width: 120px;
}

#order-inf {
	padding-top: 100px;
	padding-left: 15px;
}
.body-text {
	color: #333366;
	font-family: "Century Gothic", sans-serif;
	font-size: 18px;
}

#comments {
	height: 300px;
	overflow: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 7px;
	padding: 0;
}

.txt-area {
	border-color: #333366;
	border-radius: 7px;
	padding: 10px;
	resize: none;
}

#btn-add-comment {
	margin-left: 20px;
	width: 125px;
	background-color: #333366;
	border-radius: 7px;
}

#add-comment {
	margin-bottom: 60px;
}

.comment {
	border-radius: 7px;
	padding: 7px;
	word-wrap: break-word;
	color: #333366;
	font-family: "Century Gothic", sans-serif;
	font-size: 16px;

}

.error-text {
	background-color: #e4b9b9;
	padding: 5px;
	border-radius: 7px;
}

#helloAssist2 {
	padding-top: 25px;
	font-family: "Century Gothic", sans-serif;
	font-size: 30px;
	color: #333366;
	margin-left: 15px;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(51, 51, 102, 0.80);
}
::-webkit-scrollbar-thumb {
	background-color: #333366;
	border-radius: 7px;
}
::-webkit-scrollbar-track{
	border: solid 1px #333366;
	border-radius: 7px;
}
.user-comment {
	background-color: rgba(188, 232, 241, 0.8);
}
.assistant-comment {
	background-color: rgba(135, 206, 235, 0.8);
}
.admin-comment {
	background-color: rgba(147, 112, 219, 0.8);
}
.bold-text {
	font-weight: bold;
}
.comment-date {
	color: #333366;
	font-family: "Century Gothic", sans-serif;
	font-size: 13px;
	text-align: center;
	padding-top: 6px;
}
.order-table {
	margin-top: 40px;
}
.assist-order-table {
	margin-top: 20px;
}
.comment-block {
	margin-top: 8px;
}



#localization {
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	margin-top: -49px;
	font-family: "Garamond", sans-serif;
	color: #333366;
	margin-left: 820px;
	font-size: 20px;
}

#localization a {
	color: #333366;
	text-decoration: none;
	opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#localization a:hover {
	text-decoration: none;
	opacity: 0.5;
}

#localization a:active {
	font-weight: bold;
}

#footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 900px;
	height: 50px;
	background-color: #fff;
}

#ContentLogin {
	padding: 0px;
	padding-bottom: 50px;
	width: 900px;
	height: 500px;
}

#ContentRegister {
	padding: 60px;
	padding-bottom: 50px;
	width: 900px;
	height: 600px;
}

.button-myorders{
	margin-bottom: 10px;
}

.RegistrationWord {
	margin-left: 85px;
}

#AssistTableDiv {
	width: 860px;
	height: 470px;
	margin-left: 20px;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.AssistTable {
	padding: 0px;
	width: 850px;
}

.centralButton {
	width: 220px;
	margin-left: 340px;
}

#registrationSuccess {
	padding: 50px;
}

#forgotPasswordSuccess {
	padding: 50px;
}
#add-order-form {
	padding-top: 20px;
}
.assistant-top {
	margin-bottom: 20px;
}

#adm_logo {
	margin-top: 22px;
	width: 220px;
}

#Adm_Button {
	width: 220px;
	margin-left: -100px;
	background-color: #333366;
	border-radius: 7px;
}

#AssistButton {
	width: 220px;
	background-color: #333366;
	border-radius: 7px;
	margin-left: -100px;
}
.comment-title {
	background-color: rgba(51, 51, 102, 0.15);
}
.comment-title p {
	padding: 10px;
	color: #333366;
	font-family: "Century Gothic", sans-serif;
	font-size: 24px;
}
.order-inf {
	height: 480px;
	color: #333366;
	font-family: "Century Gothic", sans-serif;
	font-size: 18px;
	padding-top: 10px;
	border-right: solid 1px rgba(51, 51, 102, 0.15);
}
.comments-body {
	margin-top: 10px;
}
.drop-inf {
	font-size: 12px;
}
.drop-el {
	padding: 20px 0 0 25px;
	word-wrap: break-word;
	display: none;
}
.click-to-drop:hover {
	color: rgba(51, 51, 102, 0.7);
	cursor: pointer;
}
.btn-edit-order {
	background-color: #333366;
	width: 125px;
	border-radius: 7px;
	font-family: "Trebuchet MS", sans-serif;
}

#download_all {
	width: 220px;
	background-color: #333366;
	margin-top: -150px;
	margin-left: -100px;
}

#From {
	padding-top: 110px;
	margin-left: 420px;
	position: absolute;
}

#To {
	position: absolute;
	padding-top: 110px;
	margin-left: 675px;
}

.Report_table {
	margin-top: 0px;
}

.ReportsTable {
	padding-top: 160px;
}

#left_label_report {
	padding-top: 110px;
	margin-left: 30px;
	position: absolute;
}

#From2 {
	position: absolute;
	padding-top: 110px;
	margin-left: 420px;
}

#To2 {
	position: absolute;
	padding-top: 110px;
	margin-left: 675px;
}

.auditor_field {
	position: absolute;
	width: 150px;
	margin-left: 100px;
	margin-top: -25px;
}

.assist_field {
	position: absolute;
	width: 150px;
	margin-left: 100px;
	margin-top: -25px;
}

.from_field, .to_field {
	text-align: center;
}

#date_from{
	text-align: center;
}
#date_to{
	text-align: center;
}
.auditorium-col-orders-th-report{
	width:17%;
}
.assistant-col-orders-th-report{
	width:17%;
}
.assist {
	color: #333366;
	width: 180px;
}
.tooltip > .tooltip-inner {
	margin-left: 10px;
	background-color: rgba(51, 51, 102, 0.1);
	color: #333366;
	padding:  5px 10px;
	font-size: 16px;
	font-family: "Trebuchet MS", sans-serif;
	border-radius: 7px;
	word-wrap: break-word;
    width: 250px;
}
.tooltip.right > .tooltip-arrow {
	margin-left: 10px;
	border-right: 5px solid rgba(51, 51, 102, 0.1);
}
.input-error-notif {
	width: 220px;
	text-align: center;
	background-color: rgba(255, 0, 0, 0.1);
	color: red;
	font-size: 16px;
	font-family: "Trebuchet MS", sans-serif;
	word-wrap: break-word;
	padding:  6px;
	margin-left: 0;
}
.input-error {
	border-color: red;
}
#edit-profile-title {
	padding-right: 140px;
}
.tbl-workplaces {
	width: 350px;
}
.workplace-col {
	width: 300px;
}
.icon-col {
	width: 50px;
}

